@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<h2>@CurrentPage.Name</h2>
<hr/>
<div>
    @Html.Action("Index", "ContactFormSurface")
</div>